@charset "UTF-8";
header {
	margin:20px 10px 48px 10px; 
	font-family: "Freestyle Script", "Mistral";
	font-size: 60px; 
	color : #fff;
	text-shadow: 3px 3px 8px gray; text-align:center;
}

body {
	background : #1C1C28;
	line-height: 1.6;
	max-width: 1200px;
	margin: 0 auto;
	font-family: "맑은 고딕", '돋움', '고딕';
}

h1,
h2,
h3 {
	color: #fff;
}

p,
dl {
	color: #dbdbdb;
}

a {
	color: #41adff;
	text-decoration: none;
}

div {
	margin-left: auto; 
	margin-right: auto; 
	width: 100%; 
	text-align:center;
}

ul {
	list-style:none;
	text-align: left;
	background-color: #FDF2EE;
	margin-left:20px; 
	margin-right:20px; 
	padding-top:20px; 
	padding-bottom: 20px;
}

#sect {
	background : #2e313d;
	text-align:center; 
	margin: 20px; 
	padding: 20px;
}

#slow {
	font-size: larger ;
	font-weight: bold;
	color: #fff;
}

#link{
	font-size: smaller;
}

table {	
	border-collapse: collapse;
	width: 100%; 
	margin: auto; 
	text-align: center
}

th {
	border: 1px solid lightgray; 
	color: #fff;
	padding: 5px; 
	
}

td {
	border: 1px solid lightgray; 
	color: #fff;
	padding: 5px;
}
thead td {
	background-color: #2e313d;
  }
 thead tr {
background-color: #2e313d;
 }
td {
    background-color: #484848;
}


